<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "events/new" %>
  <%= stylesheet_link_tag "commons/port" %>
<% end %>

<% content_for :title, "案件編集" %>
<div data-controller="event-new" style="width:100%;">
  <%= render partial: "layouts/sidebar" %>
  <div class="main-content">
    <div class="container">
      <%= form_with model: @event, local: true, url: events_path  do |f| %>  
        <%= render "form", f: f %>
      <% end %>
    </div>   
  </div>
  <%= render "chat" %>
  <%= render "status" %>
</div>
