<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "contractors/new" %>
<% end %>
<% content_for :title, "取引先編集" %>
<div data-controller="contractor-new" style="width:100%;">
  <%= render partial: "layouts/sidebar" %>
  <div class="main-content">
    <div class="container">
      <%= form_with model: @company, local: true, url: contractor_path(@company)  do |f| %>
        <div class="header">
          <h1><i class="fas fa-plus"></i> 取引先編集</h1>
          <div class="header-actions">
            <% unless @has_events %>
              <%= link_to "削除", contractor_path(@company),
                          method: :delete,
                          data: { confirm: "本当に削除しますか？" },
                          class: "btn btn-danger"%>
            <% end %>
            <%= f.submit "登録", class: "btn btn-primary"%>
          </div>
        </div>
        <%= render "form", f: f %>
      <% end %>
    </div>
  </div>
</div>
