<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "all.min", "application" %>
    <%= javascript_include_tag "lucide", "fullcalendar", "tailwindcss" %>
    <%= yield :stylesheets %>
    <%= javascript_importmap_tags %>
    <title><%= content_for?(:title) ? yield(:title) : "トラフィックカレンダー" %></title>
  </head>

  <body>
    <!-- フラッシュメッセージ -->
    <% if notice || alert || flash[:error] %>
      <div class="flash-messages">
        <% if notice %>
          <div class="flash-message flash-notice" data-controller="flash">
            <i class="fas fa-check-circle"></i> <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="flash-message flash-alert" data-controller="flash">
            <i class="fas fa-exclamation-triangle"></i> <%= alert %>
          </div>
        <% end %>
        <% if flash[:error] %>
          <div class="flash-message flash-error" data-controller="flash">
            <i class="fas fa-times-circle"></i> <%= flash[:error] %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>